<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SplashItUp</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a routerLink="/live">Live</a></li>
        <li><a routerLink="/plan">Plan</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <h1 class="text-primary">{{title}}</h1>

    <div class="btn-group">
      <a class="btn btn-primary" routerLink="/live" >Live</a>
      <a class="btn btn-primary" routerLink="/plan">Plan</a>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>

