<div class="row">
  <h1>
    {{title}}
  </h1>
  <ul>
    <li *ngFor="let elem of array">
      <a ngComponentOutlet="" (click)="selected = !selected">{{elem.title}}</a>
    </li>
  </ul>

  <ng-template #firstTemp>FIRST</ng-template>
  <ng-template #secondTemp>SECOND</ng-template>

</div>
